@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bebas+Neue&display=swap');

img,figure,body {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Bebas Neue', cursive;
    background-color: black;
}
div img{
    height: 50px;
    width: 50px;
}
h1{text-align: center;
    font-family: 'Acme', sans-serif;
    color: rgb(212, 211, 211);
    font-size: 2rem;
}
#container{
    color: rgb(58, 58, 58);
    text-align: center;
    width: 80vw;
    border: 1px solid rgb(44, 44, 44);
    margin: 0 auto;
}
#pc{
    height: 30vh;
    background-color: rgba(216, 226, 202, 0.767);
}
#box{
    border: 1px solid rgb(59, 46, 46);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(216, 226, 202, 0.767);
    height: 20vh;
}
#box button{
    font-weight: bold;
    font-size: 20px;
    color:white;
    background: rgb(122,139,0);
    background: linear-gradient(42deg, rgba(122,139,0,1) 0%, rgba(11,68,1,1) 38%, rgba(155,173,43,1) 100%);
    width: 70px;
    padding: 5px;
    border-radius: 5px;
}
#box button:active{
    background: rgb(122,139,0);
background: linear-gradient(323deg, rgba(122,139,0,1) 0%, rgba(11,68,1,1) 38%, rgba(155,173,43,1) 100%);
}

#visitante{
    height: 30vh;
    background-color: rgba(216, 226, 202, 0.767);

}
#visitante div button:hover{
    border-bottom: 3px solid greenyellow;
}

.winner{
    border: 3px solid green;
    padding: 2px;
}
.loser{
    border: 3px solid red;
    padding: 2px;  
}

.tie {
    border: 3px dashed yellow;
    padding: 2px;
}
.hidden{
    display: none;
}

@media only screen and (min-width: 600px) {
    body {
        background-image: url('./img/papel\ de\ parede.jpg');
    }
    h1{
        color: rgb(51, 51, 51);
    }
    #box{
    background-color: rgba(129, 136, 119, 0.767);

    }
}
